<h1 class="title"><%= t( 'static_pages.blog.header1' ) %></h1>
<p class="sub-title"><%= t( 'static_pages.blog.header2' ) %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t( 'static_pages.blog.figcaption' ) %></figcaption>
</figure>


<p class="credits"><%= t( 'static_pages.blog.author' ) %><span class="float-right">Oct. 20, 2014 | 12:04 p.m. EDT</span></p>
<article>
  <p><%= t( 'static_pages.blog.paragraph1' ) %></p>

  <p><%= t( 'static_pages.blog.paragraph2' ) %></p>

  <p><%= t( 'static_pages.blog.paragraph3' ) %></p>

  <h3><%= t( 'static_pages.blog.header3' ) %></h3>

  <p><%= t( 'static_pages.blog.paragraph4' ) %></p>

  <p><%= t( 'static_pages.blog.paragraph5' ) %></p>

  <p><%= t( 'static_pages.blog.paragraph6' ) %></p>
</article>
